In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df= pd.read_csv('edu_ucdavis_bml_hog_island_oyster_084d_868d_4856.csv')

In [4]:
df.columns

Index(['time (UTC)', 'latitude (degrees_north)', 'longitude (degrees_east)',
       'station', 'sea_water_ph_reported_on_total_scale (1)'],
      dtype='object')

In [5]:
df.isnull().values.ravel().sum()

207

In [6]:
df.isnull().sum(axis = 0)

time (UTC)                                    0
latitude (degrees_north)                      0
longitude (degrees_east)                      0
station                                       0
sea_water_ph_reported_on_total_scale (1)    207
dtype: int64

In [7]:
df.count()

time (UTC)                                  13951
latitude (degrees_north)                    13951
longitude (degrees_east)                    13951
station                                     13951
sea_water_ph_reported_on_total_scale (1)    13744
dtype: int64

In [8]:
df.head(25)

,time (UTC),latitude (degrees_north),longitude (degrees_east),station,sea_water_ph_reported_on_total_scale (1)
0,2014-05-31T17:59:11Z,38.162,-122.8939,Hog Island Oyster,7.9774
1,2014-05-31T18:14:22Z,38.162,-122.8939,Hog Island Oyster,8.0635
2,2014-05-31T18:29:37Z,38.162,-122.8939,Hog Island Oyster,7.9558
3,2014-05-31T18:44:51Z,38.162,-122.8939,Hog Island Oyster,7.9589
4,2014-05-31T19:00:06Z,38.162,-122.8939,Hog Island Oyster,7.9645
5,2014-05-31T19:15:21Z,38.162,-122.8939,Hog Island Oyster,7.9624
6,2014-05-31T19:30:36Z,38.162,-122.8939,Hog Island Oyster,7.9588
7,2014-05-31T19:45:51Z,38.162,-122.8939,Hog Island Oyster,7.9562
8,2014-05-31T20:01:06Z,38.162,-122.8939,Hog Island Oyster,7.9591
9,2014-05-31T20:16:21Z,38.162,-122.8939,Hog Island Oyster,7.9768
10,2014-05-31T20:31:36Z,38.162,-122.8939,Hog Island Oyster,7.9805
11,2014-05-31T20:46:51Z,38.162,-122.8939,Hog Island Oyster,7.9875
12,2014-05-31T21:02:06Z,38.162,-122.8939,Hog Island Oyster,7.9688
13,2014-05-31T21:17:21Z,38.162,-122.8939,Hog Island Oyster,7.9754
14,2014-05-31T21:32:36Z,38.162,-122.8939,Hog Island Oyster,7.9864
15,2014-05-31T21:47:51Z,38.162,-122.8939,Hog Island Oyster,7.9733
16,2014-05-31T22:03:06Z,38.162,-122.8939,Hog Island Oyster,7.9725
17,2014-05-31T22:18:21Z,38.162,-122.8939,Hog Island Oyster,7.9655
18,2014-05-31T22:33:36Z,38.162,-122.8939,Hog Island Oyster,7.9516
19,2014-05-31T22:48:50Z,38.162,-122.8939,Hog Island Oyster,7.9432
20,2014-05-31T23:04:05Z,38.162,-122.8939,Hog Island Oyster,7.9400
21,2014-05-31T23:19:20Z,38.162,-122.8939,Hog Island Oyster,7.9356
22,2014-05-31T23:34:35Z,38.162,-122.8939,Hog Island Oyster,7.9295
23,2014-05-31T23:49:50Z,38.162,-122.8939,Hog Island Oyster,7.9249
24,2014-06-01T00:05:05Z,38.162,-122.8939,Hog Island Oyster,7.9185

In [9]:
df.tail(25)

,time (UTC),latitude (degrees_north),longitude (degrees_east),station,sea_water_ph_reported_on_total_scale (1)
13926,2014-12-31T17:48:19Z,38.162,-122.8939,Hog Island Oyster,7.9983
13927,2014-12-31T18:03:34Z,38.162,-122.8939,Hog Island Oyster,7.9918
13928,2014-12-31T18:18:48Z,38.162,-122.8939,Hog Island Oyster,7.9980
13929,2014-12-31T18:34:03Z,38.162,-122.8939,Hog Island Oyster,7.9944
13930,2014-12-31T18:49:18Z,38.162,-122.8939,Hog Island Oyster,7.9901
13931,2014-12-31T19:04:33Z,38.162,-122.8939,Hog Island Oyster,7.9953
13932,2014-12-31T19:19:48Z,38.162,-122.8939,Hog Island Oyster,7.9952
13933,2014-12-31T19:35:03Z,38.162,-122.8939,Hog Island Oyster,7.9930
13934,2014-12-31T19:50:18Z,38.162,-122.8939,Hog Island Oyster,7.9929
13935,2014-12-31T20:05:33Z,38.162,-122.8939,Hog Island Oyster,7.9894
13936,2014-12-31T20:20:48Z,38.162,-122.8939,Hog Island Oyster,7.9909
13937,2014-12-31T20:36:03Z,38.162,-122.8939,Hog Island Oyster,7.9898
13938,2014-12-31T20:51:18Z,38.162,-122.8939,Hog Island Oyster,7.9881
13939,2014-12-31T21:06:33Z,38.162,-122.8939,Hog Island Oyster,7.9888
13940,2014-12-31T21:21:48Z,38.162,-122.8939,Hog Island Oyster,7.9880
13941,2014-12-31T21:37:03Z,38.162,-122.8939,Hog Island Oyster,7.9876
13942,2014-12-31T21:52:18Z,38.162,-122.8939,Hog Island Oyster,7.9854
13943,2014-12-31T22:07:33Z,38.162,-122.8939,Hog Island Oyster,7.9861
13944,2014-12-31T22:22:48Z,38.162,-122.8939,Hog Island Oyster,7.9865
13945,2014-12-31T22:38:03Z,38.162,-122.8939,Hog Island Oyster,7.9859
13946,2014-12-31T22:53:18Z,38.162,-122.8939,Hog Island Oyster,7.9815
13947,2014-12-31T23:08:33Z,38.162,-122.8939,Hog Island Oyster,7.9816
13948,2014-12-31T23:23:48Z,38.162,-122.8939,Hog Island Oyster,7.9815
13949,2014-12-31T23:39:02Z,38.162,-122.8939,Hog Island Oyster,7.9785
13950,2014-12-31T23:54:17Z,38.162,-122.8939,Hog Island Oyster,7.9825