In [1]:
import numpy as np

In [2]:
import pandas as pd

In [ ]:
df=pd.read_fwf(r'ct4-9908-04_ODV.txt',index_col=2,sep='	',header=None)

In [ ]:
df=pd.read_csv('ct4-9908-04_ODV.txt', sep='	',skiprows=1)

In [3]:
df=pd.read_csv('ct4-9908-04_ODV.txt', skiprows=0, 
                     sep='\t', engine='python')

In [4]:
df

                                                                                                                                                // created: 08-Apr-2018 09:14:31
Cruise      Station Type mon/day/yr hh:mm Longitude [degrees_east] Latitude [degrees_north] Depth [m] QF Temperature [�C] QF Salinity [psu] QF
ct4-9908-04 1       C    06/11/2004 08:42 -122.899                 37.203                   5.0       0  11.8270          0  33.2968        0                                NaN
                                                                                            6.0       0  11.7647          0  33.3088        0                                NaN
                                                                                            7.0       0  11.7024          0  33.3208        0                                NaN
                                                                                            8.0       0  11.6401          0  33.3329        0                                NaN
                                                                                            9.0       0  11.5778          0  33.3449        0                                NaN
                                                                                            10.0      0  11.3390          0  33.3451        0                                NaN
                                                                                            11.0      0  11.1002          0  33.3453        0                                NaN
                                                                                            12.0      0  10.8613          0  33.3456        0                                NaN
                                                                                            13.0      0  10.6225          0  33.3458        0                                NaN
                                                                                            14.0      0  10.4953          0  33.3630        0                                NaN
                                                                                            15.0      0  10.3680          0  33.3803        0                                NaN
                                                                                            16.0      0  10.2408          0  33.3976        0                                NaN
                                                                                            17.0      0  10.1136          0  33.4149        0                                NaN
                                                                                            18.0      0  10.0786          0  33.4214        0                                NaN
                                                                                            19.0      0  10.0436          0  33.4279        0                                NaN
                                                                                            20.0      0  10.0085          0  33.4344        0                                NaN
                                                                                            21.0      0  9.9735           0  33.4408        0                                NaN
                                                                                            22.0      0  9.9497           0  33.4426        0                                NaN
                                                                                            23.0      0  9.9259           0  33.4443        0                                NaN
                                                                                            24.0      0  9.9021           0  33.4461        0                                NaN
                                                                                            25.0      0  9.8783           0  33.4478        0                                NaN
                                                                                            26.0      0  9.8545           0  33.4496        0                                NaN
                                                                                            27.0      0  9.8307           0  33.4513        0                                NaN
                                                                                            28.0      0  9.8069           0  33.4531        0                                NaN
                                                                                            29.0      0  9.7831           0  33.4548        0                                NaN
                                                                                            30.0      0  9.7593           0  33.4566        0                                NaN
                                                                                            31.0      0  9.7355           0  33.4583        0                                NaN
                                                                                            32.0      0  9.7117           0  33.4601        0                                NaN
                                                                                            33.0      0  9.6879           0  33.4618        0                                NaN
                                                                                            34.0      0  9.6788           0  33.4651        0                                NaN
...                                                                                                                                                                          ...
            260     C    09/25/2004 06:44  179.470                 43.975                   40.0      0  12.2704          0  NaN            1                                NaN
                                                                                            41.0      0  11.7092          0  NaN            1                                NaN
                                                                                            42.0      0  10.9672          0  NaN            1                                NaN
                                                                                            43.0      0  10.2253          0  NaN            1                                NaN
                                                                                            44.0      0  9.4833           0  NaN            1                                NaN
                                                                                            45.0      0  8.7414           0  NaN            1                                NaN
                                                                                            46.0      0  8.5458           0  NaN            1                                NaN
                                                                                            47.0      0  8.3502           0  NaN            1                                NaN
                                                                                            48.0      0  8.1546           0  NaN            1                                NaN
                                                                                            49.0      0  7.9590           0  NaN            1                                NaN
                                                                                            50.0      0  7.7634           0  NaN            1                                NaN
                                                                                            51.0      0  7.5678           0  NaN            1                                NaN
                                                                                            52.0      0  7.3722           0  NaN            1                                NaN
                                                                                            53.0      0  7.1766           0  NaN            1                                NaN
                                                                                            54.0      0  7.0579           0  NaN            1                                NaN
                                                                                            55.0      0  6.9392           0  NaN            1                                NaN
                                                                                            56.0      0  6.8205           0  NaN            1                                NaN
                                                                                            57.0      0  6.7017           0  NaN            1                                NaN
                                                                                            58.0      0  6.5830           0  NaN            1                                NaN
                                                                                            59.0      0  6.4643           0  NaN            1                                NaN
                                                                                            60.0      0  6.3456           0  NaN            1                                NaN
                                                                                            61.0      0  6.2269           0  NaN            1                                NaN
                                                                                            62.0      0  6.1082           0  NaN            1                                NaN
                                                                                            63.0      0  5.9895           0  NaN            1                                NaN
                                                                                            64.0      0  5.8708           0  NaN            1                                NaN
                                                                                            65.0      0  5.7521           0  NaN            1                                NaN
                                                                                            66.0      0  5.6333           0  NaN            1                                NaN
                                                                                            67.0      0  5.5146           0  NaN            1                                NaN
                                                                                            68.0      0  5.3959           0  NaN            1                                NaN
                                                                                            69.0      0  5.2772           0  NaN            1                                NaN

[111579 rows x 1 columns]

In [5]:
df.head(10)

                                                                                                                                                // created: 08-Apr-2018 09:14:31
Cruise      Station Type mon/day/yr hh:mm Longitude [degrees_east] Latitude [degrees_north] Depth [m] QF Temperature [�C] QF Salinity [psu] QF
ct4-9908-04 1       C    06/11/2004 08:42 -122.899                 37.203                   5.0       0  11.8270          0  33.2968        0                                NaN
                                                                                            6.0       0  11.7647          0  33.3088        0                                NaN
                                                                                            7.0       0  11.7024          0  33.3208        0                                NaN
                                                                                            8.0       0  11.6401          0  33.3329        0                                NaN
                                                                                            9.0       0  11.5778          0  33.3449        0                                NaN
                                                                                            10.0      0  11.3390          0  33.3451        0                                NaN
                                                                                            11.0      0  11.1002          0  33.3453        0                                NaN
                                                                                            12.0      0  10.8613          0  33.3456        0                                NaN
                                                                                            13.0      0  10.6225          0  33.3458        0                                NaN
                                                                                            14.0      0  10.4953          0  33.3630        0                                NaN

In [7]:
df.to_csv('tester_2014.txt')