In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from datetime import datetime

In [4]:
df=pd.read_csv('GE_K0_CPI_301247.csv');

In [5]:
df.columns

Index(['CDF_EPOCH_yyyy-mm-ddThh:mm:ss.sssZ', 'PRESSURE_Pascals'], dtype='object')

In [6]:
df[df == -1.00000e+31].count()

CDF_EPOCH_yyyy-mm-ddThh:mm:ss.sssZ        0
PRESSURE_Pascals                      19460
dtype: int64

In [7]:
df[df == -32768].count()

CDF_EPOCH_yyyy-mm-ddThh:mm:ss.sssZ    0
PRESSURE_Pascals                      0
dtype: int64

In [8]:
df.count()

CDF_EPOCH_yyyy-mm-ddThh:mm:ss.sssZ    402815
PRESSURE_Pascals                      402815
dtype: int64

In [9]:
df[df == 0].count()

CDF_EPOCH_yyyy-mm-ddThh:mm:ss.sssZ    0
PRESSURE_Pascals                      0
dtype: int64

In [10]:
df.isnull().values.ravel().sum()

0

In [11]:
df.head(25)

   CDF_EPOCH_yyyy-mm-ddThh:mm:ss.sssZ  PRESSURE_Pascals
0            2014-01-01T00:26:43.637Z      1.125290e-10
1            2014-01-01T00:27:47.637Z      8.850030e-11
2            2014-01-01T00:28:51.637Z      7.677480e-11
3            2014-01-01T00:29:55.637Z      9.873050e-11
4            2014-01-01T00:30:59.637Z      1.397990e-10
5            2014-01-01T00:32:03.637Z      8.324710e-11
6            2014-01-01T00:33:07.637Z      7.872220e-11
7            2014-01-01T00:34:11.637Z      1.025920e-10
8            2014-01-01T00:35:15.637Z      7.103160e-11
9            2014-01-01T00:36:19.637Z      8.072050e-11
10           2014-01-01T00:37:23.637Z      6.980200e-11
11           2014-01-01T00:38:27.637Z      1.198720e-10
12           2014-01-01T00:39:31.637Z      9.189650e-11
13           2014-01-01T00:40:35.637Z      8.104380e-11
14           2014-01-01T00:41:39.637Z      1.243970e-10
15           2014-01-01T00:42:43.637Z      1.215250e-10
16           2014-01-01T00:43:47.637Z      8.994650e-11
17           2014-01-01T00:44:51.637Z      8.621410e-11
18           2014-01-01T00:45:55.637Z      1.353730e-10
19           2014-01-01T00:46:59.637Z      7.354860e-11
20           2014-01-01T00:48:03.637Z      1.065930e-10
21           2014-01-01T00:49:07.637Z      1.117070e-10
22           2014-01-01T00:50:11.637Z      8.204510e-11
23           2014-01-01T00:51:15.637Z      8.366010e-11
24           2014-01-01T00:52:19.637Z      8.918060e-11

In [12]:
df.tail(25)

       CDF_EPOCH_yyyy-mm-ddThh:mm:ss.sssZ  PRESSURE_Pascals
402790           2014-12-31T22:34:10.344Z      1.913640e-10
402791           2014-12-31T22:35:14.344Z      1.333280e-10
402792           2014-12-31T22:36:18.344Z      9.347500e-11
402793           2014-12-31T22:37:22.344Z      1.458910e-10
402794           2014-12-31T22:38:26.344Z      1.438700e-10
402795           2014-12-31T22:39:30.344Z      8.850540e-11
402796           2014-12-31T22:40:34.344Z      1.113710e-10
402797           2014-12-31T22:41:38.344Z      2.075620e-10
402798           2014-12-31T22:42:42.344Z      1.723330e-10
402799           2014-12-31T22:43:46.344Z      1.225690e-10
402800           2014-12-31T22:44:50.344Z      1.254070e-10
402801           2014-12-31T22:45:54.344Z      1.366800e-10
402802           2014-12-31T22:46:58.344Z      1.135540e-10
402803           2014-12-31T22:48:02.344Z      1.432400e-10
402804           2014-12-31T22:49:06.344Z      1.184490e-10
402805           2014-12-31T22:50:10.344Z      1.418430e-10
402806           2014-12-31T22:51:14.344Z      1.732070e-10
402807           2014-12-31T22:52:18.344Z      2.095150e-10
402808           2014-12-31T22:53:22.344Z      1.454210e-10
402809           2014-12-31T22:54:26.344Z      1.410850e-10
402810           2014-12-31T22:55:30.344Z      1.935510e-10
402811           2014-12-31T22:56:34.344Z      1.212070e-10
402812           2014-12-31T22:57:38.344Z      1.710870e-10
402813           2014-12-31T22:58:42.344Z      1.616100e-10
402814           2014-12-31T22:59:46.344Z      1.788490e-10

In [16]:
d1=datetime.strptime(df.iloc[0][0], " %Y-%m-%dT%H:%M:%S.%fZ")

In [17]:
d2=datetime.strptime(df.iloc[1][0], " %Y-%m-%dT%H:%M:%S.%fZ")

In [18]:
d2-d1

datetime.timedelta(seconds=64)